In [5]:
import pandas as pd
import numpy as np

In [3]:
# importing the pandas library, which is commonly used for data manipulation and analysis.
import pandas as pd
import numpy as np

dataset = [10,12,14,16,18,20]  # Creating a list of numerical values.
dataset.append(50)  # Adding a new value (50) to the end of the dataset list.

# Creating a pandas Series from the dataset list. 
# The Series is assigned custom labels (index) for each value: "a", "b", "c", "d", "e", "f", "g".
# The name parameter assigns a label to the Series, calling it "pandas series dataset".
serie = pd.Series(dataset,index = ["a","b","c","d","e","f","g"],name = "pandas series dataset")

# Printing the pandas Series, which displays the index and corresponding values.
print(serie)

a    10
b    12
c    14
d    16
e    18
f    20
g    50
Name: pandas series dataset, dtype: int64

In [5]:
# Sales series

# defining a list of sales values for each day of the week.
sales = [150,200,175,220,300,350,400]

# defining a list of the days of the week to use as the index for the sales values.
days_in_week = ['Monday','Tuesday','Wednesday','Thurday','Friday','Saturday','Sunday']

# creating a pandas series to represent sales data, with the sales list as values and days_in_week as the index.
# the series is named "Sales series" for better identification.
sales_series = pd.Series(sales,index = days_in_week,name = "Sales series")

# Printing the pandas Series, which shows the days of the week and corresponding sales values.
print(sales_series)

Monday       150
Tuesday      200
Wednesday    175
Thurday      220
Friday       300
Saturday     350
Sunday       400
Name: Sales series, dtype: int64

In [9]:
# Student grades

grades = [68,90,85,90,75]          # defining a list of grades corresponding to five students.
students = ['A','B','C','D','E']  # defining a list of student names (or identifiers) which will serve as the index for the grades.

grades_series = pd.Series(grades,index = students)    # creating a pandas Series using the grades list as values and students list as index labels.

print(grades_series)  # printing the created pandas Series, which displays student names and their corresponding grades.

A    68
B    90
C    85
D    90
E    75
dtype: int64

In [106]:
#Creating dataframe

import pandas as pd

data = {'Emp_Id':[10,11,12,13,14,15,16],
         'Name':['Prathemash','Sameer','Priyanka','Sweeta','Manav','Lalita','Anjana'],
         'Age':[20,25,16,18,55,46,17]}
df = pd.DataFrame(data)

#to update or add a column
df['city'] = ['New York','Mumbai','Pune','Goa','Delhi','Gujrat','Odisa']

#for add mutiple columns

newColumns = {'Grades':['A','B','A','A','A','B','A'],
                 'Salary':[500000,640000,850000,640000,640000,540000,654445]}

#correctly add new columns tot he DatFrame
df['Grades'] = newColumns['Grades']
df['Salary'] = newColumns['Salary']

# adding columns in between

gender = ['M','F','F','M','F','M','M']
df.insert(3,'Gender',gender)

# row manipulation

new_data = pd.DataFrame([
    {"Emp_Id":20,"Name":"Sapna","Age":20,"Gender":"Female","Grades":"A","Salary":1800000},
    {"Emp_Id":21,"Name":"Arjun","Age":22,"Gender":"Male","city":"Kolkata","Grades":"A","Salary":1825460},
    {"Emp_Id":22,"Name":"Rudra","Age":24,"Gender":"Male","city":"Pune","Grades":"A","Salary":183000},
    {"Emp_Id":23,"Name":"Piyush","Age":20,"Gender":"Male","city":"Chennai","Grades":"A","Salary":180730},
])

df = pd.concat([df,new_data], ignore_index = True)

#adding new row at specific index
new_row = {"Emp_Id":222,"Name":"Amaaya","Age":20,"Gender":"Female","Grades":"A","Salary":1800000}
df.loc[5.5] = new_row
df = df.sort_index().reset_index(drop=True)

#Changing column name
df = df.rename(columns = {"city":"Address","Name":"Student Name","Grades":"Grade"})

# string method manipulation -on column

# check column names
# print(df.columns)

# print(df)

# print("Column names in upper case")
# print("/n",df.columns.str.upper())
# print("---------------------------------------------------------------------------/n")

# print("Column names in lower case")
# print("/n",df.columns.str.lower())
# print("---------------------------------------------------------------------------/n")

# df.columns.str.upper()

# make first char capital
# print("/n",df.columns.str.title()) # eg-java - Java

# #replace
# print("/n",df.columns.str.replace(' ','_')) # eg-java - Java

# to remove leading/tailing spaces  from column name

df.columns.str.strip()

#padding  on columns
# df.columns = df.columns.str.pad(width = 12 , side = 'left',fillchar = '_')

# padding 0's
# df.columns = df.columns.str.zfill(10)

# to get a charcter of column of specific index
# print(df.columns.str.get(0))

# to change specific value of a row
df.loc[11,["Address"]] = ["ODISHA"]

#updating/add new col based on condition
df.loc[df['Grade']=='A','Remarks'] = 'Passed'
df.loc[df['Grade']=='B','Remarks'] = 'Distinction'
df.loc[df['Grade']=='C','Remarks'] = 'Failed'

#delete a row
df = df.loc[df['Student Name'] != "Piyush"] 

#delete a column
df = df.drop("Salary", axis=1)


print(df) 

# --------------------------------------------------------------------------
# --------------------------------------------------------------------------

print("# --------------------------------------------------------------------------")
      
# replacing a specific str value only n 
df['Grade'] = df['Grade'].str.replace('A', 'C') 
print("/n",df)

df['Age'] = df['Age'].astype(str)  # Convert numbers to strings
df['Age'] = df['Age'].str.replace('20', '200')
print("/n",df)

# this modifies the original table
df['Grade'] = df['Grade'].replace('A', 'C')
print("/n",df)

print("# --------------------------------------------------------------------------")

df['length'] = df['Student Name'].str.len()
print(df)

# # Extract first and last names
# df[['First_Name', 'Last_Name']] = df['Student Name'].str.extract(r'(/w+)/s+(/w+)')

# # Print the updated DataFrame
# print("/nUpdated DataFrame with extracted names are :")
# print(df)

last_names = ['Patel', 'Sharma', 'Gupta', 'Kumar', 'Mehta', 'Reddy', 'Nair', 'Verma', 'Joshi', 'Choudhury', 'Singh']

# Add last names to the existing DataFrame
df['Student Name'] = df['Student Name'] + ' ' + pd.Series(last_names)

# Print the updated DataFrame
print("/nUpdated DataFrame with Full Names:")
print(df)





# I/O operation using pandas - used for cleaning pupose


# converting data into csv file

filePath = "C:/Users/Admin/OneDrive/Desktop/DA COURSE/04_Python/libraries/Pandas/panda_2.csv"
# df.to_csv(filePath, index = False , mode = "w")
print("File has been converted")

#read csv file
df = pd.read_csv(filePath)
print(df)

    Emp_Id Student Name  Age  Gender   Address Grade      Remarks
0       10   Prathemash   20       M  New York     A       Passed
1       11       Sameer   25       F    Mumbai     B  Distinction
2       12     Priyanka   16       F      Pune     A       Passed
3       13       Sweeta   18       M       Goa     A       Passed
4       14        Manav   55       F     Delhi     A       Passed
5       15       Lalita   46       M    Gujrat     B  Distinction
6      222       Amaaya   20  Female       NaN     A       Passed
7       16       Anjana   17       M     Odisa     A       Passed
8       20        Sapna   20  Female       NaN     A       Passed
9       21        Arjun   22    Male   Kolkata     A       Passed
10      22        Rudra   24    Male      Pune     A       Passed
# --------------------------------------------------------------------------

     Emp_Id Student Name  Age  Gender   Address Grade      Remarks
0       10   Prathemash   20       M  New York     C       Passed
1       11       Sameer   25       F    Mumbai     B  Distinction
2       12     Priyanka   16       F      Pune     C       Passed
3       13       Sweeta   18       M       Goa     C       Passed
4       14        Manav   55       F     Delhi     C       Passed
5       15       Lalita   46       M    Gujrat     B  Distinction
6      222       Amaaya   20  Female       NaN     C       Passed
7       16       Anjana   17       M     Odisa     C       Passed
8       20        Sapna   20  Female       NaN     C       Passed
9       21        Arjun   22    Male   Kolkata     C       Passed
10      22        Rudra   24    Male      Pune     C       Passed

     Emp_Id Student Name  Age  Gender   Address Grade      Remarks
0       10   Prathemash  200       M  New York     C       Passed
1       11       Sameer   25       F    Mumbai     B  Distinction
2       12     Priyanka   16       F      Pune     C       Passed
3       13       Sweeta   18       M       Goa     C       Passed
4       14        Manav   55       F     Delhi     C       Passed
5       15       Lalita   46       M    Gujrat     B  Distinction
6      222       Amaaya  200  Female       NaN     C       Passed
7       16       Anjana   17       M     Odisa     C       Passed
8       20        Sapna  200  Female       NaN     C       Passed
9       21        Arjun   22    Male   Kolkata     C       Passed
10      22        Rudra   24    Male      Pune     C       Passed

     Emp_Id Student Name  Age  Gender   Address Grade      Remarks
0       10   Prathemash  200       M  New York     C       Passed
1       11       Sameer   25       F    Mumbai     B  Distinction
2       12     Priyanka   16       F      Pune     C       Passed
3       13       Sweeta   18       M       Goa     C       Passed
4       14        Manav   55       F     Delhi     C       Passed
5       15       Lalita   46       M    Gujrat     B  Distinction
6      222       Amaaya  200  Female       NaN     C       Passed
7       16       Anjana   17       M     Odisa     C       Passed
8       20        Sapna  200  Female       NaN     C       Passed
9       21        Arjun   22    Male   Kolkata     C       Passed
10      22        Rudra   24    Male      Pune     C       Passed
# --------------------------------------------------------------------------
    Emp_Id Student Name  Age  Gender   Address Grade      Remarks  length
0       10   Prathemash  200       M  New York     C       Passed      10
1       11       Sameer   25       F    Mumbai     B  Distinction       6
2       12     Priyanka   16       F      Pune     C       Passed       8
3       13       Sweeta   18       M       Goa     C       Passed       6
4       14        Manav   55       F     Delhi     C       Passed       5
5       15       Lalita   46       M    Gujrat     B  Distinction       6
6      222       Amaaya  200  Female       NaN     C       Passed       6
7       16       Anjana   17       M     Odisa     C       Passed       6
8       20        Sapna  200  Female       NaN     C       Passed       5
9       21        Arjun   22    Male   Kolkata     C       Passed       5
10      22        Rudra   24    Male      Pune     C       Passed       5

Updated DataFrame with Full Names:
    Emp_Id      Student Name  Age  Gender   Address Grade      Remarks  length
0       10  Prathemash Patel  200       M  New York     C       Passed      10
1       11     Sameer Sharma   25       F    Mumbai     B  Distinction       6
2       12    Priyanka Gupta   16       F      Pune     C       Passed       8
3       13      Sweeta Kumar   18       M       Goa     C       Passed       6
4       14       Manav Mehta   55       F     Delhi     C       Passed       5
5       15      Lalita Reddy   46       M    Gujrat     B  Distinction       6
6      222       Amaaya Nair  200  Female       NaN     C       Passed       6
7       16      Anjana Verma   17       M     Odisa     C       Passed       6
8       20       Sapna Joshi  200  Female       NaN     C       Passed       5
9       21   Arjun Choudhury   22    Male   Kolkata     C       Passed       5
10      22       Rudra Singh   24    Male      Pune     C       Passed       5
File has been converted
    Emp_Id      Student Name  Age  Gender   Address Grade      Remarks  length
0       10  Prathemash Patel  200       M  New York     C       Passed    10.0
1       11     Sameer Sharma   25       F    Mumbai     B  Distinction     6.0
2       12    Priyanka Gupta   16       F      Pune     C       Passed     8.0
3       13      Sweeta Kumar   18       M       Goa     C       Passed     6.0
4       14       Manav Mehta   55       F     Delhi     C       Passed     5.0
5       15      Lalita Reddy   46       M    Gujrat     B  Distinction     6.0
6      222       Amaaya Nair  200  Female       NaN     C       Passed     6.0
7       16      Anjana Verma   17       M     Odisa     C       Passed     6.0
8       20       Sapna Joshi  200  Female       NaN     C       Passed     5.0
9       21   Arjun Choudhury   22    Male   Kolkata     C       Passed     5.0
10      22       Rudra Singh   24    Male      Pune     C       Passed     5.0
11      31      Prem Prakash   29    Male    Punjab     B       Passed     NaN

In [137]:
# read in clean data
filePath = "C:/Users/Admin/OneDrive/Desktop/DA COURSE/04_Python/libraries/Pandas/panda_2.csv"

# #read csv file
# df = pd.read_csv(filePath)
# print(df,"/n/n")

print("#----------------------------------------------")

'''
# to get the info of the data
# print(df.info(),'/n')

print("#----------------------------------------------")

# to describe the data
print('Descriptive Statistics for Numeric Columns:/n', df.describe(), '/n')

print("#----------------------------------------------")

# to check the destribution/spread of data
# print(df["Remarks"].value_counts(),'/n')
print(df,'/n')

print("#----------------------------------------------")
# to get top 5 values
print("Top 5 values are :/n")
print(df.head(),'/n')  #imp 

print("#----------------------------------------------")

# to get last 5 values
print("Bottom 5 values are :/n")
print(df.tail(),'/n')  #imp 

print("#----------------------------------------------")
'''
# check duplicates

duplicateValues = df.duplicated()
print("Duplicate Values are :/n")   # imp
print(duplicateValues)

#count of duplicate Values are
duplicateValues = df.duplicated().sum()
print("/ncount of duplicate Values are :")   # imp
print(duplicateValues)

# to remove duplicates value
df.drop_duplicates("Address",inplace = True)
print("/nRemoving duplicate Values are :")   # imp
print(df)

# drop/remove NUN/Nam
df.dropna(inplace=True)
print("/nRemoving NAN values ")
print(df)

# check shape of the data
print(df.shape)

#save the file again
filePath = "panda_2.csv"
df.to_csv(filePath, index=False)    #---------------------------
print("/nSuccessfully saved the DataFrame to CSV.")

#----------------------------------------------
Duplicate Values are :

0    False
1    False
2    False
3    False
4    False
5    False
7    False
9    False
dtype: bool

count of duplicate Values are :
0

Removing duplicate Values are :
   Emp_Id      Student Name  Age Gender   Address Grade      Remarks  length
0      10  Prathemash Patel  200      M  New York     C       Passed    10.0
1      11     Sameer Sharma   25      F    Mumbai     B  Distinction     6.0
2      12    Priyanka Gupta   16      F      Pune     C       Passed     8.0
3      13      Sweeta Kumar   18      M       Goa     C       Passed     6.0
4      14       Manav Mehta   55      F     Delhi     C       Passed     5.0
5      15      Lalita Reddy   46      M    Gujrat     B  Distinction     6.0
7      16      Anjana Verma   17      M     Odisa     C       Passed     6.0
9      21   Arjun Choudhury   22   Male   Kolkata     C       Passed     5.0

Removing NAN values
   Emp_Id      Student Name  Age Gender   Address Grade      Remarks  length
0      10  Prathemash Patel  200      M  New York     C       Passed    10.0
1      11     Sameer Sharma   25      F    Mumbai     B  Distinction     6.0
2      12    Priyanka Gupta   16      F      Pune     C       Passed     8.0
3      13      Sweeta Kumar   18      M       Goa     C       Passed     6.0
4      14       Manav Mehta   55      F     Delhi     C       Passed     5.0
5      15      Lalita Reddy   46      M    Gujrat     B  Distinction     6.0
7      16      Anjana Verma   17      M     Odisa     C       Passed     6.0
9      21   Arjun Choudhury   22   Male   Kolkata     C       Passed     5.0
(8, 8)

Successfully saved the DataFrame to CSV.

In [177]:
# import pandas as pd

file = "C:/Users/Admin/OneDrive/Desktop/DA COURSE/04_Python/libraries/Pandas/customer_data.csv"
df = pd.read_csv(file)
# print(df.info(),"\n")

print("#----------------------------------------------")

# explain different between discribe & discribe().T
# print(df.describe(),"\n") 

print("#----------------------------------------------")

# print(df.describe().T,"\n")


# print("Calculating  mean, mode, median, min, max \n")

# print("mean is :\n",df["Age"].mean())
# print("\nmode is :\n",df["Age"].mode())
# print("\n median is :\n",df["Age"].median())
# print("\n min is :\n",df["Age"].min())
# print("\n max is :\n",df["Age"].max())

print("#----------------------------------------------\n")

# # finding relation
# print("Correlation between Age and Referal is :")
# print(df["Age"].corr(df["Referal"]))

print("#----------------------------------------------\n")

# uniques value
# print("Unique values in Marital_status are :")
# print(df["Marital_status"].unique())
# print("#----------------------------------------------\n")

# print("Unique values in Segment are :")
# print(df["Segment"].unique())
# print("#----------------------------------------------\n")

# print("Count of unique values in Segment are: ")
# print(df["Segment"].nunique())
# print("#----------------------------------------------\n")

# print("Counting the values in Segment are: ")
# print(df["Segment"].value_counts())
# # print("#----------------------------------------------\n")

# # sort values
# print("Sorting the values in Segment are: ")
# # print(df.sort_values(by = ["Gender"]))
# # print(df.sort_values(by = ["Gender"]).head(20))
# print(df.sort_values(by = ["Gender"],ascending=False))

# print("#----------------------------------------------\n")

# # to get largest value
# print("Largest values of amount spent are:\n ")
# print(df.nlargest(5,["Amount_spent"]))
# # print("#----------------------------------------------\n")

# print("\n Smallest values of amount spent are:\n ")
# print(df.nsmallest(5,["Amount_spent"]))
# # print("#----------------------------------------------\n")

# fetching data based on condition
# print("fetching values where state name is Arizon :\n")
# val = df["State_names"] == "Arizona"
# print(df[val])
# print("#----------------------------------------------\n")

# print(df["Gender"] == "Female") # returns boolean values only
# print("#----------------------------------------------\n")

#group by
val = df["State_names"] == "Arizona"
filtered_df = df[val]     # Filter using the mask
grouped_df = filtered_df.groupby("Segment")[["Age", "Gender"]].agg('first').reset_index()    # Group by Segment and get Age and Gender

print("Grouped values for Arizona by Segment:")
print(grouped_df)

#  print(df[val].groupby(""))
# print(df[["Age","Gender"]].groupby(df["Segment"]))
#  print("#----------------------------------------------\n")

#----------------------------------------------
#----------------------------------------------
#----------------------------------------------

#----------------------------------------------

Grouped values for Arizona by Segment:
    Segment   Age  Gender
0     Basic  37.0  Female
1      Gold  63.0    Male
2   Missing  18.0  Female
3  Platinum  54.0    Male
4    Silver  33.0    Male

In [65]:
# pivot table

filePath = "C:/Users/Admin/OneDrive/Desktop/DA COURSE/04_Python/libraries/Pandas/sales-data.csv"
df = pd.read_csv(filePath)
# print(df)

#how to create pivot table
# print(pd.pivot_table(df,index = ["Product"], values = ["Manager","Rep"], aggfunc = np.sum))
# print(pd.pivot_table(df,index = ["Product"], values = ["Sales"], aggfunc = np.sum))
# print(pd.pivot_table(df, index=["Manager"], values=["Sales","Quantity"],columns = ["Product"] , aggfunc={"Sales":"sum","Quantity":"max"},fill_value = 0, margins = True))
# print(pd.pivot_table(df, index=["Manager","Status","Name"], values=["Quantity"],columns = ["Product"] , aggfunc={"Quantity":"count"},fill_value = 0, margins = True))
table = pd.pivot_table(df, index=["Manager","Status"], values=["Quantity"],columns = ["Product"] , aggfunc={"Quantity":"count"},fill_value = 0)



# query

table = table.query('Status == ["pending","won"]')
print(table)

                      Quantity
Product                    CPU Maintenance Monitor Software
Manager       Status
Debra Henley  pending        1           2       0        0
              won            1           0       0        0
Fred Anderson pending        0           1       0        0
              won            2           1       0        0